:root {
  --background-main: #f4f6f8;
  --background-secondary: #ffffff;

  --typograpgy-main: #19202d;
  --typograpgy-secondary: #6e8098;
  --typograpgy-accent: #5964e0;

  --button-background: #5964e0;
  --button-text-color: #ffffff;
  --button-hover: #939bf4;

  --checkbox-unchecked: #e7e8e9;
  --checkbox-checked: #5964e0;
}

[data-theme='dark'] {
  --background-main: #121721;
  --background-secondary: #19202d;

  --typograpgy-main: #ffffff;
  --typograpgy-secondary: #6e8098;
  --typograpgy-accent: #5964e0;

  --button-background: #5964e0;
  --button-text-color: #ffffff;
  --button-hover: #939bf4;

  --checkbox-unchecked: #313743;
  --checkbox-checked: #5964e0;
}

body {
  margin: 0;
}
