:root {
  --background-main: #f4f6f8;
  --background-secondary: #ffffff;

  --typograghy-main: #19202d;
  --typograghy-secondary: #6e8098;

  --special-main: #ffec65;
  --button-color: #3c47e9;
  --input-color: #3c47e9;
}

[data-theme='dark'] {
  --background-main: #100e1d;
  --background-secondary: #1e213a;

  --typograghy-main: #e7e7eb;
  --typograghy-secondary: #a09fb1;

  --special-main: #ffec65;
  --button-color: #3c47e9;
  --input-color: #ffffff;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('./assets/fonts/Greycliffcf-Demibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('./assets/fonts/Greycliffcf-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('./assets/fonts/Greycliffcf-Extrabold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('./assets/fonts/Greycliffcf-Heavy.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('opentype');
  font-weight: 400;
}

body,
html {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
